#chat-icon {
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 28px;
    cursor: pointer;
    background-color: #00aced;
    padding: 10px;
    border-radius: 50%;
    color: white;
    box-shadow: 0 0 8px gray;
  }
  
  #chat-box {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 25px;
    width: 500px;
    height: 700px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1000;
  }
  
  .chat-header {
    background-color: #00aced;
    color: white;
    padding: 10px;
    font-weight: bold;
  }
  
  .chat-content {
    height: 600px;
    
    overflow-y: auto;
    padding: 10px;
  }
  
  .chat-content .bot-message, .chat-content .user-message {
    margin-bottom: 8px;
  }
  
  .chat-content button {
    background-color: #00aced;
    color: white;
    border: none;
    padding: 6px 10px;
    margin: 4px 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .chat-input input {
    flex: 1;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .chat-input button {
    background-color: #00aced;
    color: white;
    border: none;
    padding: 6px 10px;
    margin-left: 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  